<% if @survey.errors.any? %>
  <div id="error_explanation" >
    <% @survey.errors.full_messages.each do |msg| %>
        <div class="error-box myred-error error-field"><%= msg %></div>
    <% end %>
  </div>
  <div class="span-22"></div>
<% end %>
