<div class="span-22 prepend-1 append-1">
  <%= link_to "Delete this survey?", '#', {:class => 'span-7 mybutton-half'} %>
  <%= link_to "Edit survey questions?", '#', {:class => 'span-7 mybutton-half'} %>
  <%= link_to "Create a new survey?", '/', {:class => 'span-7 mybutton-half'} %>
</div>
<div id="forward-backward-area" class="span-22 prepend-1 append-1">
  <%= link_to "Previous Page?", '/', {:class => 'span-4 mybutton-half'} %>
</div>
