<div id="header"> 
  <div class="span-22 prepend-1 append-1">
    <h1 id="<%= @title %>" >
      <%= @title %>
    </h1>
  </div>
</div>
<div id="below-header">
</div>
<div id="below-header2">
</div>

